.body-store {
    margin-top: 20px;
}

.store {
    padding-left: 0;
    padding-right: 0;
}

.brand-logo {
    width: 48px;
    width: 48px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    background: white;
}

.all {
    padding: 24px;
}

.store-name {
    height: 50px;
}

@media (min-width: 768px) {
    .fixed-sidebar {
        position: fixed;
    }

    .store {
        margin-left: 25%;
    }
}