<div class="well" *ngIf="!showGrid()">No providers found, <a>click here</a> to add one.</div>
<table class="table table-striped" *ngIf="showGrid()">
  <thead>
    <tr>
      <th>Name</th>
      <th>Base API URL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let provider of providers">
      <td>{{provider.name}}</td>
      <td>{{provider.baseApiUrl}}</td>
    </tr>
  </tbody>
</table>
<pagination
  *ngIf="showGrid()"
  [boundaryLinks]="false"
  [totalItems]="totalCount"
  [maxSize]="3"
  [(ngModel)]="currentPage">
</pagination>
