.providers {
    margin-bottom: 0;
}

.search,
.actions {
    margin: 20px 0;
}

@media (min-width: 0) {
    .search {
        margin-bottom: 0;
    }

    .search-form {
        text-align: center;
    }

    .actions {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .search-form {
        float: left;
    }

    .actions button {
        float: right;
    }
}

