.providers {
    margin-bottom: 0;
}

.search,
.actions {
    margin: 20px 0;
}

.loading {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 3;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

.loading > img {
    position: fixed;
    z-index: 4;
    top: calc(50% - 25px - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
}

@media (min-width: 0) {
    .search {
        margin-bottom: 0;
    }

    .search-form {
        text-align: center;
    }

    .actions {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .search-form {
        float: left;
    }

    .actions button {
        float: right;
    }
}

