<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Sign In</h1>
      <form>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="signInModel.email">
          </div>
     
          <div class="form-group">
            <label for="baseApiUrl">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="signInModel.password">
          </div>
     
          <button type="submit" class="btn btn-success" (click)="signIn()">Sign In</button>
          <button type="button" class="btn" [routerLink]='["/store"]'>Back to store</button>
      </form>
    </div>
  </div>
</div>