<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Delete provider</h1>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="provider.name" disabled>
        </div>

        <div class="form-group">
          <label for="baseApiUrl">Base API URL</label>
          <input type="text" class="form-control" id="baseApiUrl" name="baseApiUrl" [(ngModel)]="provider.baseApiUrl"
            disabled>
        </div>

        <button type="submit" class="btn btn-danger" (click)="delete()">Delete</button>
        <button type="button" class="btn" [routerLink]='["/providers"]'>Back to providers</button>
      </form>
    </div>
  </div>
</div>